@{
    ViewBag.Title = "Index";
  if (Session["user_id"] != null)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
}
<div class="site-blocks-cover inner-page" style="background-image: url('/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum obcaecati natus iure voluptatum eveniet harum recusandae ducimus saepe.</p>
                </div>
            </div>
        </div>
    </div>
</div>
