@model IEnumerable<PahramcyOnline.Models.Cart>
@{

                ViewBag.Title = "Show";
                Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto align-self-center">
            <div class="form-horizontal">
                <table class="table">
                    <tr>
                        <th>
                            name
                        </th>
                        <th>
                            Price
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.product.pro_TradName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product.pro_prices)
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.cart_id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>